.more {
	margin-left: 16px;
  display:block;
  width: 55px;
  height: 16px;
    background-position: 0 -78px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.more:hover, .close:hover {
  cursor:pointer;
}

.close {	
  display:block;
  background-image:url('https://s.pstatic.net/static/www/img/2017/sp_nav_v170523.png');
  width: 42px;
  height: 16px;
  background-position: -166px -78px;
  margin-left: 16px;
  
 
}

 .board {
  /* font-family:'µ¸¿ò'; */
  font-size:13px;
  position:absolute;
  visibility:hidden;
  margin-top: 16px;
  
}
/*
.list {
  float:left;
}

.list li {
  list-style:none;
  margin-top:5px;
}

.list li:hover {
  text-decoration:underline;
  cursor:pointer;
} */