@charset "UTF-8";
#insa_container{
	 width: 1450px;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
}

#insa_content{
	width: 1080px;
        padding: 20px;
        margin-right:160px;
        margin-bottom: 20px;
        float: right;
        border: 1px solid #bcbcbc;
}

      #insa_header {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #bcbcbc;
      }
      #insa_footer {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
      }