@charset "UTF-8";
.btnColor {
border: 0;
	color: white;
	background-color: #3DB7CC;
	background-position: - -47px;
	height: 29px;
	width: 120px;
	font-size: 15px;
	margin-top: 5px;
}
.btnColor1{
	margin-top: 15px;
	border: 0;
	color: white;
	background-color: #3DB7CC;
	background-position: - -47px;
	height: 29px;
	width: 80px;
	font-size: 15px;
}
#j_container{
	position: absolute;
    top: 20%;
    left: 25%;
    width: 700px;
    height: 400px;
    border: 1px solid;
}

.left_info{
	width: 350px;
    float: left;
    text-align: left;
    height: 300px;
}

.right_info{
	widthL:350px;
	float:left;
	text-align:left;
	height: 300px;
}

.join_form .left_title{
	width:115px;
	float:left;
	height: 50px;
} 

.join_form .left_content{
	width:235px;
	float:left;
	height: 50px;
}